body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}

h1 {
    text-align: center;
    color: #333;
}

#product-list div {
    border: 1px solid #ccc;
    padding: 16px;
    margin: 16px auto;
    width: 80%;
    background-color: #fff;
}

button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 8px 16px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}
